# DATABASE_URL=postgresql+psycopg://user:password@localhost:5432/blog
# DATABASE_URL=postgresql+psycopg://user:password@localhost:5432/blog


DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=MySecr3tPassWord312
DB_NAME=FasAPIBlogDB

# Mismo nombre de base que DB_NAME (docker-compose crea POSTGRES_DB=DB_NAME)
#Se pone psycopg para decir explícitamente: “usa el driver psycopg 3 (pip install psycopg[binary]) para esta conexión”. Es lo mismo de fondo que elegir “con qué librería de bajo nivel se conecta Python a Postgres”.
# Tu nombre de base FasAPIBlogDB está bien siempre que sea exactamente el mismo que crea Docker (POSTGRES_DB) o el que ya exista en el servidor
DATABASE_URL=postgresql+psycopg://postgres:MySecr3tPassWord312@localhost:5432/FasAPIBlogDB